@charset "UTF-8";

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(32, 32, 32);
  color: black;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  transition:
    width 0.2s,
    height 0.2s;
  transition-timing-function: ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.653);
}

#imagem {
  display: block;
  background: white url(../imagens/login.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

#formulario {
  display: block;
  padding: 10px;
}

#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8em;
}
