@charset "UTF-8";

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(32, 32, 32);
  color: black;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login {
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  transition:
    width 0.2s,
    height 0.2s;
  transition-timing-function: ease;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.653);
}

#imagem {
  display: block;
  background: white url(../imagens/login.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

#formulario {
  display: block;
  padding: 10px;
}

#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

#formulario > p {
  font-size: 0.8em;
}

span {
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

.campo > input {
  background-color: rgba(211, 211, 211, 0);
  font-size: 1em;
  padding: 10px;
  width: calc(100% - 45px);
  height: 100%;
  border: 0px;
  border-radius: 5px;
  transform: translateY(-3px);
}

form label {
  display: none;
}
.campo {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
}

form > input[type="submit"] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type="submit"]:hover {
  background-color: rgb(31, 31, 31);
}

.botao {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
  display: block;
  text-align: center;
  font-size: 1em;
  height: 40px;
  width: 100%;
  border: 1px solid black;
}

.botao:hover {
  background-color: rgb(219, 219, 219);
}
